.green-colour {
	color: green;
}

.red-colour {
	color: #A9A9A9;
}

.verification-tooltip {
  position: relative;
  display: inline-block;
}

.verification-tooltip .verification-tooltiptext {
  visibility: hidden;
  width: 120px;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px;
  
  /* Position the tooltip */
  position: absolute;
  z-index: 1;
  bottom: 100%;
  left: 50%;
  margin-left: -60px;
  margin-bottom: 5px;
}

.verfication-colour-green {
  background-color: #6d9538;
}

.verfication-colour-red {
  background-color: #A9A9A9;
}

.verfication-border-colour-green::after {
  border-color: #6d9538 transparent transparent transparent;
}

.verfication-border-colour-red::after {
  border-color: #A9A9A9 transparent transparent transparent;
}

.verification-tooltip .verification-tooltiptext::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  
}

.verification-tooltip:hover .verification-tooltiptext {
  visibility: visible;
}
